<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/onlylogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/onlylogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentApp">
        <activity android:name=".Credits"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ChangeGrades" />
        <activity android:name=".UpdateStudent" />
        <activity android:name=".showStudentsByGrades" />
        <activity android:name=".ShowGrades" />
        <activity android:name=".EnterGrades" />
        <activity android:name=".startOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>